* {
  padding: 0;
  margin: 0;
  /* background-color: blue; */
}
body {
  background-color: rgba(128, 128, 128, 0.059);
}

img {
  transition: all 0.2s linear;
}
img:hover {
  transform: scale(1.1);
}
/* nav */

nav {
  display: flex;
  background-color: #ffffff;
  /* padding-top: 15px; */
  border-radius: 10px 10px 0 0;
  position: fixed;
  top: 0px;
  padding: 22px 16px;
  width: 100%;
  /* filter: blur(8px); */
  backdrop-filter: blur(44px);
}

.log img {
}
.form1 {
  position: relative;
}
.form1 i {
  position: absolute;
  padding: 12px 45px;
  color: white;
  font-size: 18px;
}
.form1 input {
  padding: 9px 393px 7px 21px;
  background: lightblue;
  border: none;
  border-radius: 20px;
  font-size: 19px;
  padding-left: 42px;
  outline: none;
  margin-left: 30px;
}
.form input:focus {
  border: none;
}

.select {
  margin-left: 46px;
  font-size: 24px;
}

.select select {
  border: none;
}
.list {
  display: flex;
  gap: 50px;
  /* color: black; */
  margin-left: 79px;
  margin-top: 8px;
}
.list i {
  color: black;
  font-size: 30px;
}
.list a {
  color: black;
  text-decoration: none;
  display: flex;
  gap: 5px;
}

/* section 2 */

.imgboxone {
  display: flex;
  padding-top: 0px;
  gap: 20px;
  justify-content: space-around;
  background-color: white;
  /* margin: 30px 50px; */
  margin-top: 96px;
  margin-right: 10px;
  margin-left: 12px;
}
.imgboxoneimg {
  /* margin-top: 100px; */
}

.imgboxoneimg {
  /* padding-bottom: 20px; */
}

.imgboxoneimg p {
  padding-bottom: 10px;
}

/* section 3 */

.section3 {
  margin: 50px 0px;
  overflow: hidden;
}
.section3 img {
  width: 100%;
  height: 150px;
}

/* section 4 */

.section4main {
  display: flex;
  background-color: white;
}
.section4 {
  /* margin: 30px; */
}

.section4text p {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.section4mainbox {
  display: flex;
  gap: 10px;
}
.section4box {
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-radius: 10px;
}
.section4box img {
  width: 200px;
  height: 200px;
  padding-bottom: 50px;
}
.section4box p {
  text-align: center;
}
.section4boxp {
  font-weight: bold;
  padding-bottom: 20px;
}

.section4two {
  height: 20px;
}

.section4two img {
  height: 400px;
  width: 200px;
}

/* section 5 */

.section5 {
  background-color: white;
  margin-top: 30px;
}

.section5text p {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.section5mainbox {
  display: flex;
  gap: 10px;
  background-color: white;
}
.section5box {
  border: 1px solid rgba(0, 0, 0, 0.118);
  border-radius: 10px;
  width: 250px;
  padding: 10px 9px;
}
.section5box img {
  width: 175px;
  height: 200px;
  padding-bottom: 50px;
  border-radius: 16px;
}

.section5box-1 {
}
.section5box p {
  text-align: center;
}
.section5boxp {
  font-weight: bold;
  padding-bottom: 20px;
}

/* section 6 */
.section6 {
  margin-top: 30px;
  background-color: white;
}

.section6text p {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.section6mainbox {
  display: flex;
  gap: 10px;
  background-color: white;
}
.section6box {
  border: 1px solid rgba(0, 0, 0, 0.118);
  border-radius: 10px;
  width: 250px;
  padding: 10px 9px;
}

.section6box img {
  width: 175px;
  height: 200px;
  padding-bottom: 50px;
  border-radius: 16px;
}

.section6box-1 {
}
.section6box p {
  text-align: center;
  margin-bottom: 0px;
}
.section6boxp {
  font-weight: bold;
  padding-bottom: 20px;
}

/* section 7 */

.section7main {
  display: flex;
  background-color: white;
  margin-top: 30px;
}
.section7 {
}

.section7text p {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.section7mainbox {
  /* display: flex;
  gap: 10px; */
}

.section7mainbox-one {
  display: flex;
  gap: 10px;
}
.section7mainbox-two {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.section7box {
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  width: 250px;
  padding: 15px 8px;
  text-align: center;
}
.section7box img {
  width: 200px;
  height: 200px;
  padding-bottom: 50px;
  border-radius: 19px;
}
.section7box p {
  text-align: center;
}
.section7boxp {
  font-weight: bold;
}

.section7two {
  margin-left: 50px;
  overflow: hidden;
  /* padding-left: ; */
}

.section7two img {
  /* padding-left: 39px; */
  height: 704px;
  width: 875px;
}

/* secton8 */

.sectionmain8 {
  margin: 30px;
  line-height: 20px;
}

.sectionmain8 {
  padding: 10px;
}

.sectionmain8 span {
  font-weight: lighter;
  color: rgb(204, 199, 199);
}

.lin2 {
  border: 1px solid black;
  width: 100%;
  margin: 20px;
}

.section8main2 {
}

.section8main2 span {
  font-weight: bold;
  color: rgba(128, 128, 128, 0.468);
}

/* section 9 */

footer {
  background-color: black;
  color: white;
}
.section9main {
  display: flex;
  padding: 20px;
}

.section9main-one {
  display: flex;
  width: 55%;
  gap: 50px;
  padding-left: 50px;
}

.one-one p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: gold;
}

.section9main-heading {
  margin: 10px 0px;
  color: rgb(162, 146, 146);
  text-decoration: none;
}
.section9main-heading p {
  text-decoration: none;
}

.section9main-two {
  display: flex;
  width: 40%;
  gap: 20px;
}

.two-two {
}
.footer-border {
  border-left: 1px solid white;
  padding-left: 48px;
}

.line p {
  border: 1px solid white;
}

.section9main-three a i {
  color: white;
  padding: 20px;
}

.section9main-three a {
  text-decoration: none;
  color: white;
}
